/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: fixed var(--heading-color) var(--bg-image) no-repeat center / cover;
  font-family: var(--main-font);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: 10px;
  block-size: calc(100vh - 20px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  display: block;
  inset-block-start: 0;
  inset-inline-end: 0;
  border-inline-end: 1px solid var(--button-text);
  border-block-start: 1px solid var(--button-text);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  display: block;
  inset-block-end: 0;
  inset-inline-start: 0;
  border-inline-start: 1px solid var(--button-text);
  border-block-end: 1px solid var(--button-text);
}

.header__decor {
  position: absolute;
  justify-self: end;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  inset-inline-end: 30px;
  display: var(--display-rec);
}

.header__decor::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-block-start: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  inset-inline-end: -21px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-block: auto;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-text);
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color);
}

.header__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  justify-self: end;
  align-items: center;
  max-inline-size: 364px;
  block-size: min-content;
  margin-block: auto;
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--heading-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.content {
  margin: 50px 10px;
}

.first-section {
  display: grid;
  gap: 20px;
}

.second-section {
  display: grid;
  gap: 20px;
}

.third-section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--subtitle-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section__subtitle {
  color: var(--heading-color);
}

.section__heading {
  font-weight: 400;
}

.section__heading:first-of-type {
  margin-block-start: 20px;
}

.section__text {
  color: var(--text-color);
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.section__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.section__link:hover {
  cursor: pointer;
  border-block-end: 1px solid var(--accent-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--accent-color);
}

.cards {
  display: grid;
  gap: 10px;
  margin-block-start: 50px;
  margin-block-end: 50px;
  grid-template-areas:
  "title"
  "sunset"
  "ice-cream"
  "tape"
  "books"
  "street";
}

.cards__title {
  grid-area: title;
  color: var(--heading-color);
}

.cards__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 667px;
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  margin: 10px;
  block-size: calc(100vh - 20px);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
  display: block;
  padding-block: 275px;
  text-align: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {

  .header {
    margin: 20px;
    block-size: calc(100vh - 40px);
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .content {
    margin-inline: 20px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "title title title" 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
    gap: 20px;
  }

  .first-section {
    grid-template-columns: 1fr 2fr;
  }

  .second-section {
    margin-block-start: 60px;
    margin-block-end: 60px;
  }

  .third-section {
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    max-width: 236px;
  }

  .footer {
    margin: 20px;
    block-size: calc(100vh - 40px);
  }
}

@media (min-width: 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    max-inline-size: 491px;
  }

  .section__title {
    max-width: 315px;
  }

  .second-section__article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

}