/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex Mono', monospace;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --heading-color: #000028;
  --border-color: rgb(255, 0, 112);
  --border-color-hover: rgba(255, 0, 112, 0.4);
  --button-text: #FF0070;
  --display-rec: block;
  --subtitle-color: #FF0070;
}
